<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Js Toturial</title>
  
    <link href="styles.css" rel="stylesheet"/> 
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="vue-app">
        <p1>{{greet('hi')}}</p1>
        <h1>{{ name }}</h1>
        <p>{{ job }}</p>
        <h3>Data bending </h3>
        <a v-bind:href="website"> wejdan's website</a>
        <input type="text" v-bind:value="job">
        <p v-html="websiteTag"></p>
        <h1>EVENT</h1>

        <button @click.once="add(1)"> Add a year</button>
        <button @click="subtract(1)"> Subtract a year</button>
        <button @dblclick="add(10)"> Add a year</button>
        <button @dblclick="subtract(10)"> Subtract a year</button>
         <p>when click on </p>
        <a  @click.prevent="click" href="https://www.linkedin.com/in/wejdan-alghamdi/" > try click with prevent defult behavior </a>

        <p> My age is {{age}}</p>
        <div id="canvas" @mousemove="updateXY">{{x}}, {{y}}</div>

        <h1> Keyboard Events </h1>
        <label>Name:</label>
        <input type="text" v-on:Keyup.enter="logName"/>

        <label>Age:</label>
        <input type="text" v-on:Keyup.enter="logAge"/>

        <h2> handling Events</h2>
        <p>{{message}}</p>
        <input  v-model="message"/>

        <p>--------------------------</p>
        <span v-if="seen">test v-if : only show the text when the properity = true </span>

        <p>--------------------------</p>
        <h2> for loop in vue </h2>
        <ol>
        <li v-for="todo in todos">
            {{todo.text}}
            
        </li>
        </ol>

        <p>--------------------------</p>

        <p>{{messages}}</p>
        <button v-on:click="reversmessage">  Revers Message </button>
    
        <p>--------------------------</p> 

        <ol>
            <li>
               <todo-item></todo-item>
            </li>
        </ol>

        
        <p>---------------------------</p>

        <h2>Computed Properties</h2>
<button v-on:click="a++">Add A</button>
<button v-on:click="b++">Add B</button>
<p> Age + A = {{ addA }} </p>
<p> Age + B = {{ addB }} </p>

       <p>---------------------------</p>
<h2>Dynamic CSS Classes</h2>
<p>Example1</p>
<div v-on:class="{red: true, blue: true}"></div>

<p>Example2</p>
    </div>
    <script src= "app.js"></script>
</body>
</html>